build --cxxopt='-std=c++17'

test --test_output=errors

common:ci --color=no
common:ci --noshow_progress
common:ci --noshow_loading_progress
common:ci --verbose_failures
build:ci --sandbox_debug
build:ci --spawn_strategy=standalone
build:ci --genrule_strategy=standalone
test:ci --test_strategy=standalone

build:release --strip always
build:release --copt -flto=thin
build:release --linkopt -flto=thin

build:asan --strip never
build:asan --copt -fsanitize=address
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

build:tsan --strip never
build:tsan --copt -fsanitize=thread
build:tsan --copt -O1
build:asan --copt -g
build:tsan --copt -fno-omit-frame-pointer
build:tsan --linkopt -fsanitize=thread

build:msan --strip never
build:msan --copt -fsanitize=memory
build:msan --copt -DADDRESS_SANITIZER
build:msan --copt -O1
build:msan --copt -g
build:msan --copt -fno-omit-frame-pointer
build:msan --linkopt -fsanitize=memory

build:ubsan --strip never
build:ubsan --copt -fsanitize=undefined
build:ubsan --copt -O1
build:ubsan --copt -g
build:ubsan --copt -fno-omit-frame-pointer
build:ubsan --linkopt -fsanitize=undefined
